﻿/* Style Sheet Last updated - 11/10/2000 */ 
/* This style sheet is for IE 4.02 and up */ 


/* BODY = default paragraph font */ 
	body		{bgcolor: #ffffff; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 70%; }
	
/* HYPERLINKS */ 
	a:link		{color: #0000cc; }
	a:active	{color: #0000cc; }
	a:visited	{color: #0000cc; }	
	.pop		{text-decoration: none; }

/* LISTS */ 
	ol		{font-size: 100%; margin-top: .5em; margin-bottom: 0em; margin-left: 4em;}
	ul		{font-size: 100%; margin-top: .5em; margin-bottom: 0em;}
	ol ul		{list-style: disc; margin-top: .5em;}
	ul ul		{list-style: disc; margin-top: .5em;}
	li		{margin-bottom: .7em; margin-left: -2em;}

/* PREFORMATTING - CODE */ 
	pre		{font-size: 100%; margin-top: 1.2em; margin-bottom: 1.5em;}
	code	 	{font-family: "courier new", courier; font-size: 125%; }
	
/* TABLES */ 
	table		{font-size: 100%; margin-top: 1em; margin-bottom: 0em;}
	th		{text-align: left; background: #CCCCCC; margin: .25em; vertical-align: bottom;}
	tr		{vertical-align: top;}
	td		{margin: .25em; vertical-align: top; border-bottom: 1 solid #CCCCCC; }

/* PARAGRAPH */
	p		{margin-top: .6em; margin-bottom: .6em; }

/* Heading styles---------------------------------------------------------------------------- */ 

	h1		{font-size: 125%; margin-top: .4em; margin-bottom: .5em;}
	h2		{font-size: 110%; margin-top: 2em; margin-bottom: .5em;}
	h3		{font-size: 100%; margin-top: 1.2em; margin-bottom: .5em; font-weight: bold;}
	h4		{font-size: 100%; margin-top: 1.2em; font-weight: bold;}
	h5		{font-size: 100%; margin-top: 1.2em; font-weight: bold;}
	.lproch		{font-weight: bold ;margin-top: 1.2em; }/* Heading 9,List Procedure Heading,lproch */ 

/* Defined List styles ----------------------------------------------------------------------- */

	dt		{font-weight: bold; }
	dd		{margin-left: 2em; margin-bottom: .6em; }

/* Paragraph styles--------------------------------------------------------------------------- */ 

	.ac		{font-size: 90%; } 
	.alpha		{font-size: 125%; font-weight: bold; }
	.dt1		{text-indent: -2em; margin-left: 2em;}
	.hang		{text-indent: -2em; margin-left: 2em;}
	.ind		{margin-left: 2em;}
/* MAYBE KEEP .LBR1 IN CASE WE CAN GET HANGING INDENT TO WORK IN IE5.0? */ 
	.mt		{margin-top:  2em; font-weight: bold; }
	.noborder	{border: none; }
	.rtt		{text-align: right; font-size: 90%; }
	.tableup	{margin-top: 0em; }

/* spacing styles */ 
	.4		{line-height: 4pt;}
	.6		{line-height: 6pt;}
	
/* styles we no longer need */ 		
	.Highlight	{background-color: lightblue;}
	.Normal 	{background-color: white;}
	.fixp		{color: #00ff00;}	/* *fix this paragraph for incorrectly used styles / green */ 

/* Language Reference styles --------------------------------------------------------------------------- */


/* code comments */
	.comment {color: darkgreen;
		}

/* Object model blue box */ 
	.omblue { height: 16px;
		width: 180px;
		padding: 2px 2px 2px 2px;
		background-color: #99FFFF;
		border: 1px solid windowframe;
		color: windowtext;
		font-weight: bold;
		text-decoration: none;
		cursor: hand;
		line-height: 9px;
		}

/* Object model blue dashed box */ 
	.ombluedash { height: 16px;
		width: 180px;
		padding: 2px 2px 2px 2px;
		background-color: #99FFFF;
		border: 1px dashed windowframe;
		color: windowtext;
		text-decoration: none;
		cursor: hand;
		line-height: 9px;
		}

/* Object model yellow box */ 
	.omyellow { height: 16px;
		width: 180px;
		padding: 2px 2px 2px 2px;
		background-color: #FFFF99;
		border: 1px solid windowframe;
		color: windowtext;
		font-weight: bold;
		text-decoration: none;
		cursor: hand;
		line-height: 9px;		
		}	

/* Object model yellow dashed box */ 
	.omyellowdash { height: 16px;
		width: 180px;
		padding: 2px 2px 2px 2px;
		background-color: #FFFF99;
		border: 1px dashed windowframe;
		color: windowtext;
		text-decoration: none;
		cursor: hand;
		line-height: 9px;
		}

/* Navigation hyperlink list container */
	.ofvbaispan { position: absolute;
		padding: 0px 0px 0px 0px;
		border: 1px solid windowframe;
		color: windowtext;
		display: none;
		z-index: +1;
		}

/* Navigation area */
	.ofvbanav { padding: 0px 0px 10px 0px;
		}

/* Active navigation area jumps */
	.ofvbanavreuse { width: 75px;
		color: #0000cc;
		cursor: hand;
		}

/* Inactive navigation area jump */
	.ofvbanavunused { width: 75px;
		color: graytext;
		}

/* Hidden navigation area jump */
	.ofvbanavhidden { width: 75px;
		display: none;
		}

/* Navigation hyperlink list topic description toggle */
	.ofvbashowdesc { color:#0000cc;
		cursor:hand;
		font-size:smaller;
		text-decoration:underline;
		}

/* Navigation hyperlink list topic description sections */
	.ofvbadesc { color: windowtext;
		display: none;
		}

/* Example navigation area jumps */
	.ofvbanavex { text-decoration: none;
		}

/* Syntax box */
	.ofvbasyn { width: 100%;
		padding: 0px 8px 0px 8px;
		background-color: #CCCCCC;
		}

.ofvbalink		{text-decoration: none; }
.ofvbalink:hover	{text-decoration: underline; }



/* Dropdown styles --------------------------------------------------------------------------- */

.DropDown	{text-decoration: none; font-weight: normal; top: 0pt;} 
.DropDown:hover	{text-decoration: underline; }

			
.HidePopUp 	{text-decoration: none; }
.HidePopUp:hover{text-decoration: underline; }

.Glossary	{text-decoration: none; }
.glossary:hover	{text-decoration: underline; }
				
.Glossarydef	{color: #008C00; text-decoration: none;}

.srcContent 	{ }

.expfav		{font-size: 80%; text-align: Right; margin-top: -1em; margin-bottom: 0; }

.expanded	{font-weight: normal; }	

.collapsed	{display: none;}	
			 	
.def		{margin-top: 40pt;}	

#theIFRAME	{position: absolute; display:none; }

/* Language Specific Boilerplate Styles------------------------------------------------------- */
	.BPhide 		{display: none }
	.BPshow 		{  }
	.BPHide4Bidi 	{  }
	.BPHide4EA 		{  }
	.BPHide4Thai 	{  }
