.clsPart {
	BORDER-TOP: white 4px solid; WIDTH: 150px
}
.clsPartContainer {
	MARGIN-TOP: 6px; BEHAVIOR: url(/library/shared/webparts/webparts.htc); WIDTH: 150px; POSITION: relative
}
.clsPartConent {
	BORDER-RIGHT: #6699cc 1px solid; BORDER-LEFT: #6699cc 1px solid; BORDER-BOTTOM: #6699cc 1px solid; BACKGROUND-COLOR: #cccccc
}
.clsPartBottom {
	BORDER-BOTTOM: #6699cc 1px solid; BACKGROUND-COLOR: #ffffff
}
.clsPartHead {
	FONT-SIZE: 82%; CURSOR: move; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica; BACKGROUND-COLOR: #6699cc
}
.clsDragWindow {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; DISPLAY: none; FILTER: alpha( opacity=20 ); BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid; POSITION: absolute; BACKGROUND-COLOR: #666666
}
.clsPartRight {
	BACKGROUND-POSITION: right top; FONT-SIZE: 82%; BACKGROUND-IMAGE: url(/library/shared/webparts/images/chevronUp.gif); CURSOR: hand; COLOR: #ffffff; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: verdana, arial, helvetica; BACKGROUND-COLOR: #6699cc
}
.clsPartRightHidden {
	BACKGROUND-POSITION: right top; FONT-SIZE: 82%; BACKGROUND-IMAGE: url(/library/shared/webparts/images/chevronDown.gif); CURSOR: hand; COLOR: #ffffff; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: verdana, arial, helvetica; BACKGROUND-COLOR: #cccccc
}
IMG.clsMinimize {
	VISIBILITY: hidden
}
.clsPartLeft {
	FONT-SIZE: 82%; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica; BACKGROUND-COLOR: #6699cc
}
.text {
	FONT-SIZE: 80%; COLOR: #000000; TEXT-INDENT: 8px; FONT-FAMILY: arial, helvetica
}
.link {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica; TEXT-DECORATION: none
}
.linktext {
	FONT-SIZE: 80%; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica; TEXT-DECORATION: none
}
:hover {
	TEXT-DECORATION: underline
}
.storeUserData {
	BEHAVIOR: url(#default#userData)
}
.clsPart LI {
	FONT-SIZE: 95%; COLOR: #cccccc; MARGIN-RIGHT: 7px; LIST-STYLE-TYPE: disc
}
.clsPart UL {
	MARGIN-LEFT: 20px; COLOR: #cccccc
}
.clsPart A {
	MARGIN-LEFT: -4px; TEXT-INDENT: 4px
}
