﻿/* csasset date 2006-09-15 */
/* csasset date 2006-09-12 number 1 */
/* csasset date 2006-09-12 */
/* -- new content styles -- */
body {font-family:Tahoma, Verdana, Arial, Helvetica; font-size:60%; background-color:#ffffff}
table, p {margin:0; padding:0}

.rightNavBox {float:right; width:30%; max-width:300px; min-width:300px; height:100%; background-color:#eeeeee; padding:10px}
.centerBox {float:left; width:70%; height:100%}

.cntHspace {height:15px; border-style:none; border-width:0px}
.cntVspace {width:15px; border-style:none; border-width:0px}
.cntBorder1 {border:solid 1px #cccccc}
.cntSqbulletedlist {list-style-image:url(http://tc4.iponet.net/_Services/Ont/images/bulletl.gif); margin:0px; margin-left:12px; padding:0px; padding-bottom:2px; font-size:1.1em}
.cntribboncolor {color:#4372b0}
.cntRibbonborder {border: 1px solid #dbe6f4}
.cntRibbonlist {list-style-image:url(http://tc4.iponet.net/_Services/Ont/images/bulletl.gif); margin:0px; margin-left:12px; padding:0px; padding-bottom:2px; font-family:Tahoma; font-size:1.0em}
.cntSqbulletedlist2 {padding-bottom:3px}
.cntULsqbulletedlist {margin-left:0px; margin-top:0px; margin-bottom:-6px; padding:0px}
.cnt0m0p {margin:0px; padding:0px}
.cnt0margin {margin:0px}
.cnt10margin {margin:10px}
.cnt12margin {margin:12px}
.cnt10mr {margin-right:10px}
.cnt0padding {padding:0px}
.cnt12padding {padding:12px; margin:0px}
.cnt10padding {padding:10px}
.cnt6padding {padding:6px; margin:0px}
.cnt10pb {padding-bottom:10px}
.cnt10pt {padding-top:10px}
.cntPR5px {padding-right:5px}
.cntClearboth {clear:both}
.cntFloatL {float:left}
.cntFloatR {float:right}
.cntpb6px {padding-bottom:6px}
.cntLineheight14 {line-height:1.4em}
.cntPipelink {line-height:1.8em; font-size:1.1em; color:#999999}
.cntPipelink2 {line-height:1.6em; font-size:1.2em; color:#cccccc}
.cntPipeLinks {font-size:1.1em; color:#999999}
.cntPipeLinks2 {font-family:Tahoma; font-size:.95em; color:#666666}
.cntPipeLinks2 a:link {color:#666666}
.cntOrangelink {font-size:1.1em; text-decoration:none; color:#f18822}
a:link.cntOrangelink, a:visited.cntOrangelink {color:#f18822; text-decoration:none}
a:hover.cntOrangelink {text-decoration:underline}
.cntModlist {font-family:Tahoma; font-size:1.1em; font-weight:bold; color:#666666; padding-bottom:6px}
.cntUL0 {margin:0px; padding:0px}
.cntHeadEmphasis {padding:0px 4px; color:#999999}
.cntChevronList {font-family:Tahoma; font-size:.9em; color:#666666; list-style-type:none; list-style-image:none; margin-left:-3px}
.cntChevronList a:link {color:#666666}
.cntListPadding {padding-bottom:6px}

.cntZone100table {margin:0px; border:solid 1px #cccccc; padding:0px}
.cntZone100 {width:473px; padding:0px; margin:0px; border:solid 1px #cccccc}
.cntTabpage {padding:0px; margin:0px; margin-bottom:12px; border:solid 1px #cccccc}
.cntAudienceTile {background-color:#F1F7FE; padding-left:12px; width:431px; height:154px}
.cntAudienceTileHeadline {font-size:1.2em; font-weight:bold; padding:6px 0px; color:#F18822}
.cntBannerlist1 {background-color:#F2A31B; height:28px; border:none}
.cntBannerlisthead1 {font-size:1.6em; color:#ffffff; font-weight:bold; margin:0px; padding:3px 12px 3px 12px}
.cntBannerlist2 {background-color:#E5C57E; height:20px; margin-top:1px; border:none}
.cntBannerlisthead2 {font-size:1.2em; color:#ffffff; font-weight:bold; margin:0px; padding:3px 12px 3px 12px}
.cntBannerlistblurb {font-size:1.1em; line-height:1.4em;  color:#666666}
.cntClienthead {font-size:1.1em; font-family:Tahoma; font-weight:bold; color:#666666; margin-bottom:6px}
.cntClienthead2 {margin-bottom:6px}
.cntClientheadlink {font-size:1.5em; font-family:Tahoma; font-weight:bold; color:#f18822}
a:link.cntClientheadlink {text-decoration:none}
a:hover.cntClientheadlink {text-decoration:underline}
.cntClientmorelinks {font-family:Tahoma; font-size:1.1em; color:#0560a6}
a:link.cntClientmorelinks {text-decoration:none}
a:hover.cntClientmorelinks {text-decoration:underline}
.cntClientblurb {font-size:1.1em; color:#666666; line-height:1.4em}
.cntClientline {border:solid 1px #cccccc; border-left:none; border-right:none; border-bottom:none; margin-top:2px}
.cntClientmorehead {font-size:1.2em; font-family:Tahoma; font-weight:bold; color:#666666; padding:12px 0px 6px 0px}
.cntClips {background-color:#3c83d3; color:#ffffff}
.cntCliptitle {font-family:Tahoma; font-weight:bold; font-size:1.4em}
.cntClipbar {padding:3px 10px}
.cntClipoptlink {padding-top:6px; text-align:right; text-align:right; margin-right:10px}
.cntClipoptlink a {color:#ffffff !important}
.cntCliplink {font-size:.9em}
.cntClipgrid {margin:0px; border:solid 1px #cccccc; border-top:none}
.cntDatapanelbg {background-color:#f9f9f9}
.cntDataPanelHead {font-family:Tahoma; font-size:1.6em; font-weight:bold; color:#333333; padding-bottom:6px}
.cntDataPanelHeadhv2 {font-family:Tahoma; font-size:1.1em; font-weight:bold; color:#666666; padding-bottom:8px}
.cntDataPanelListhv2 {margin-left:5px}
.cntDownloadlink {color:#666666; text-decoration:none}
a:hover.cntDownloadlink {text-decoration:underline}
.cntDownloadlinkgrn {color:#6ca108; text-decoration:none}
a:hover.cntDownloadlinkgrn {text-decoration:underline}
.cntDownloadtimes {font-family:Tahoma; font-size:1.1em; color:#666666; padding:0px 12px; margin-top:-5px}
.cntFeatureddownloadsdiv1 {width:473px; border:solid 1px #cccccc; margin-bottom:6px; padding:0px}
.cntFeatureddownloadsHead {font-family:Tahoma; font-size:1.4em; color:#666666; font-weight:bold; padding:10px; margin:0px}
.cntFeatureddownloadstd1 {font-family:Tahoma; font-size:1.1em; color:#6ca108; font-weight:bold; padding-left:12px}
.cntFeatureddownloadstd2 {font-family:Tahoma; font-size:1.1em; color:#6ca108; font-weight:bold}
.cntFeatureddownloadstd2 a:link {text-decoration:none}
.cntFeatureddownloadstd2 a:hover {text-decoration:underline}
.cntFeatureddownloadstd3 {font-family:Tahoma; font-size:1.1em; color:#666666; padding-left:12px}
.cntFeatureddownloadstd4 {font-family:Tahoma; font-size:1.1em; color:#666666}
.cntFeatureddownloadstr {background-color:#f2f2f2}
.cntFeaturedTmpltshead {font-family:Tahoma; font-size:1.3em; color:#ffffff; font-weight:bold; padding:6px 8px; background-color:#598975}
.cntFeaturedTmpltsmid {padding-top:10px; border:solid 1px #cccccc; border-bottom:none; border-top:none}
.cntFeaturedTmpltsbtm {width:153px; padding:8px 10px; border:solid 1px #cccccc; border-top:none}
.cntFeaturedTmpltimg {border:solid 1px #cccccc}
.cntFeaturedcourseoptlink {width:475px; text-align:right; font-size:.9em; color:#666666; padding-top:10px}
a:link.cntFeaturedcourseoptlink {text-decoration:none; color:#666666}
.cntFactpane {margin-bottom:17px}
.cntFactpaneHead {font-size:1.6em; font-weight:bold; margin-top:0px; padding-top:0px; padding-bottom:6px; color:#333333}
.cntFactpaneSubhead {font-size:1.1em; font-weight:bold; margin:0px; padding:0px}
.cntFactPaneBlurb {font-size:1.1em; line-height:1.3em; color:#666666; padding-top:3px; margin:0px}
.cntFocusPlateHeading {font-size:1.6em; color:#ffffff; font-weight:bold; padding:6px 12px 3px 12px; background-color:#ed9200; margin:0px; border:solid 1px #cccccc; border-bottom:none}
.cntFocusplatetbl {padding:0px; margin:0px; border:solid 1px #cccccc; border-top:none}
.cntFocusplatetbl1 {background-color:#f2ad40; margin:0px; padding:0px; margin-top:1px; border:solid 1px #cccccc; border-top:none; border-bottom:none}
.cntFocusplatec1 {padding:12px 0px 16px 12px; margin:0px}
.cntFocusplatec3 {padding:12px; padding-bottom:16px; margin:0px}
.cntFocusplatec4 {padding:12px 0px; margin:0px}
.cntFocusplatec2 {height:20px; width:19px; padding:0px; margin:0px}
.cntFocusPlateSubhead1 {font-size:1.1em; color:#ffffff; font-weight:bold; padding:1px 12px 3px 12px; background-color:#f2ad40; margin:0px}
.cntForum1 {border:solid 1px #cccccc; background-color:#ffff00}
.cntForum2 {border-style:solid; border-width:0px 1px; background-color:#ccffff}
.cntForumLast {border:solid 1px #cccccc; background-color:#ffccff}
.cntHighlightpane {margin:15px 0px 0px 0px}
.cntHomeBottomZone {background-color:#F1F7FE}
.cntHomepagesmboxhead {margin-bottom:6px; font-weight:bold; font-size:1.1em; color:#2b59a7 !important; font-family:Tahoma}
.cntHomepagesmboxul {margin:0px; padding:0px; float:left}
.cntHomepagesmboxli {margin:0px; padding:0px; margin-left:14px; font-family:Tahoma; font-size:1.1em; line-height:1.2em; padding-bottom:2px}
.cntImageitemmedia {margin-right:12px; margin-bottom:2px}
.cntImagepane {margin:0px; padding:0px}
.cntImagePaneHeadhv2 {margin:3px 0px; padding:0px 12px; font-size:1.8em; font-family:Arial; color:#11449e}
.cntImagePaneHeadline {line-height:1.1em; margin:0px; padding-bottom:4px; font-size:1.4em; font-weight:bold; color:#f18822}
.cntImagePanecell1 {padding:12px}
.cntImagePanecell2 {padding:9px 12px 0px 0px}
.cntImagePaneHeadline a:link {text-decoration:none; color:#f18822}
.cntImagePaneHeadline a:hover {text-decoration:underline; color:#f18822}
.cntImagePaneBlurb {font-size:1.1em; line-height:1.2em; color:#666666; padding:0px; margin:0px; margin-bottom:8px}
.cntImagePaneSubhead {font-size:1.2em; color:#666666; font-weight:bold}
.cntImagepaneSubdiv {margin-top:-3px; margin-bottom:7px}
.cntImagepaneSubv2 {font-size:1.4em; font-family:Tahoma; padding-bottom:9px; color:#fcad17 !important; font-weight:bold}
.cntImagePaneSubheadBlurb {font-size:1.1em; line-height:1.4em; color:#666666}
.cntImagepaneblurbv2 {font-size:1.1em; line-height:1.4em; color:#666666; padding-bottom:10px}
.cntImagePaneListHead {font-size:1.2em; color:#f18822}
.cntImagePaneGrouplink {border:dashed 1px #a4c0dc; border-left:none; border-right:none; padding:0px 6px; margin:0px}
.cntImagePaneGrouplink2 {border:dashed 1px #999999; border-left:none; border-right:none; margin:0px; margin-top:12px; padding:6px 0px; margin-bottom:6px}
.cntImagePanehv2link {border:dashed 1px #a4c0dc; border-left:none; border-right:none; border-bottom:none; padding:10px 0px; padding-bottom:0px; margin:10px 0px 0px 0px; color:#597eb2 !important; font-family:Tahoma}
.cntNewsbitclear {padding-bottom:1px; clear:left}
.cntNewsbitHead {font-size:1.2em; font-weight:bold; color:#666666; padding-bottom:9px}
cntNewsbitHead2 {font-size:1.2em; font-weight:bold; color:#666666; padding-top:15px; padding-bottom:3px}
.cntNewsbit1Head {font-family:Tahoma; font-size:1.4em; font-weight:bold; color:#666666; margin-top:0px; padding-bottom:8px}
.cntNewsbit1HeadR {font-family:Tahoma; font-size:1.4em; font-weight:bold; color:#666666; margin-top:0px; padding-bottom:8px}
.cntNewsbit1media {padding-bottom:8px; margin-right:6px}
.cntNewsbit1mediar {margin:3px 0px; margin-right:3px; float:left}
.cntNewsbit1mediarR {margin:0px 3px 3px 0px; padding-bottom:6px; float:left}
.cntNewsbit1listR {float:left; margin-left:3px}
.cntNewsbit1Blurb {font-size:1.1em; line-height:1.4em; color:#666666; padding-bottom:8px}
.cntNewsbitSubhead {font-family:Tahoma; font-size:1.1em; font-weight:bold; color:#666666; padding-bottom:9px}
.cntNewsbit2Head {font-size:1.1em; font-weight:bold; color:#666666;  margin-top:-2px; padding-bottom:8px}
.cntNewsbit2media {margin-right:6px}
.cntNewsbit2mediar {margin-left:6px}
.cntNewsbit2Subhead {font-size:1.1em; font-weight:bold; color:#666666; margin-bottom:8px}
.cntNewsbit2Blurb {font-size:1.1em; line-height:1.4em; color:#666666; margin:0px; padding:0px; padding-bottom:6px}
.cntNewsbit2lnk {margin:0px; padding-bottom:16px}
.cntNewsbit2z100mr {margin:0px 9px 4px 0px; padding:0px; float:left}
.cntPopularzone {margin:0px 50px; padding-bottom:25px}
.cntPopulardividers {width:1px; height:60px; border:solid 1px #e8e8e8; border-top:none; border-bottom:none; border-left:none; margin:0px; padding:0px}
.cntReportPane {padding-left:12px; padding-bottom:6px}
.cntReportHead {font-family:Tahoma; font-size:1.1em; color:#f18822; font-weight:bold; padding-top:9px; padding-bottom:5px; margin:0px}
.cntReportBlurb {font-size:1.1em; line-height:1.4em; color:#666666; padding-bottom:3px}
.cntSalesPlateTitle {font-size:2.2em; color:#f18822; font-weight:bold; padding-bottom:12px}
.cntSalesPltBlurb1 {font-size:1.1em; line-height:1.4em; color:#666666}
.cntSalesPltBlurb2 {font-size:1.2em; line-height:1.4em; color:#666666; padding-top:12px; padding-bottom:10px}
.cntSalesPltSubhead {color:#666666; font-weight:bold}
.cntSplashzone {padding:0px 0px 0px 2px}
.cntTagLeader {width:473px; font-size:1.8em; padding:10px 0px; font-family:Arial, Helvetica, Verdana; color:#666666}
.cntTagLeader2 {width:473px; font-size:1.8em; padding:10px 0px; padding-top:0px; font-family:Arial, Helvetica, Verdana; color:#666666}
.cntTitlelistHeadline {font-family:Tahoma; font-size:2.0em; padding-bottom:12px; margin:0px; color:#333333}
.cntTitlelistHeadline2 {font-family:Tahoma; font-size:1.2em; font-weight:bold; margin:0px; padding:0px; padding-bottom:9px; color:#363636}
.cntTitlelistSubhead {font-family:Tahoma; font-size:1.5em; font-weight:bold; padding-bottom:12px; margin:0px; color:#f18822}
.cntTitlelistSubhead2 {font-family:Tahoma; font-size:1.2em; font-weight:bold; padding:0px; padding-bottom:9px; color:#636363}
a:link.cntTitlelistSubhead2 {text-decoration:none}
a:hover.cntTitlelistSubhead2 {text-decoration:underline}
.cntTitlelistoptlink {font-family:Tahoma; font-size:1.2em; font-weight:bold; padding-top:14px}
.cntTitlelistlink {font-size:1.2em}
.cntTitlesplashHead {font-family:Arial, Helvetica, sans-serif; font-size:3.0em; color:#333333}
.cntTitlesplashSubhead {font-family:Arial, Helvetica, sans-serif; font-size:2.4em; color:#333333}
.cntWideDFeat {font-size:1.2em; background-color:#cc6600; font-weight:bold; color:#ffffff; padding:3px 6px 5px 6px; margin:0px}
.cntWideDouble {margin:0px; padding:0px}
.cntWideDFeatBx1 {padding-top:7px}
.cntWideDFeatBx2 {padding:7px 0px 8px 0px}
.cntWideDmedia {border:solid 1px #999999; margin-right:12px; margin-top:3px}
.cntWideDsubhead {font-size:1.2em; color:#666666; font-weight:bold; padding-top:3px; padding-bottom:4px}
.cntWideDsubhead2 {font-size:1.1em; padding-bottom:6px}
a:link.cntWideDsubhead {font-size:1.2em; color:#666666; font-weight:bold; text-decoration:none}
.cntWideDblurb {font-size:1.1em; line-height:1.4em; color:#666666}
.cntWideFeat {padding:6px 12px; margin-top:2px}
.cntWideFeatHead {margin:0px; padding-bottom:0px; font-size:1.4em; font-weight:bold; color:#f18822}
.cntWideFeatLink a {margin:0px; padding-top:0px; font-size:1.1em}
.cntWideFeatLink a:link {text-decoration:none}
.cntWideFeatLink a:hover {text-decoration:underline}
.cntWideFeatLink a:hover {text-decoration:underline}
.cntTextPane {padding:0px; margin:0px}
.cntTextPaneHead  {font-weight:bold; font-size:1.2em; line-height:1.4em; color:#f18822; padding-top:11px}
.cntTextPaneHead a {color:#f18822}
.cntTextPaneHead a:visited {color:#f18822}
.cntTextPaneSubhead {color:#666666; font-weight:bold; padding:10px 0px}
.cntTextPaneBlurb {color:#666666; font-size:1.1em; line-height:1.3em; padding-bottom:11px}

/*-- bulletpanel styles --*/
.cntbulltopc div,.cntbullbotc div{height:1px;line-height:1px;font-size:1px;overflow:hidden}
.cntbulltopl{background-image:url(http://tc4.iponet.net/_Services/Ont/images/bull_l_t.gif); font-size:2px;line-height:2px}
.cntbulltopc{border-top:1px solid #d4d4d4;background-color:#f7f7f7}
.cntbulltopc div,.cntchubotc div,.cntribtopc div{height:1px;line-height:1px;font-size:1px;overflow:hidden}
.cntbulltopr{background-image:url(http://tc4.iponet.net/_Services/Ont/images/bull_r_t.gif)}
.cntbullmidl{border-right:none; border-left:1px solid #c6c6c6; background-color:#f7f7f7}
.cntbullmidl div,.cntbullmidr div{width:1px;overflow:hidden}
.cntbullmidc{background-image:url(http://tc4.iponet.net/_Services/Ont/images/bull_c_c.gif); background-position:top;background-repeat:repeat-x;background-color:#ececec}
.cntbullmidl div,.cntbullmidr div{width:1px;overflow:hidden}
.cntbullmidr{border-left:none; border-right:1px solid #c6c6c6; background-color:#f7f7f7}
.cntbullbotl{background-image:url(http://tc4.iponet.net/_Services/Ont/images/bull_l_b.gif); font-size:2px;line-height:2px;background-position:bottom left}
.cntbullbotc{border-bottom:1px solid #c6c6c6;background-color:#f7f7f7}
.cntbullbotr{background-image:url(http://tc4.iponet.net/_Services/Ont/images/bull_r_b.gif); background-position:bottom right}
.cntimagmidc{background-image:url(http://tc4.iponet.net/_Services/Ont/images/chu_c_c.gif); background-position:top; background-repeat:repeat-x; background-color:#d9e8fc; border-bottom:1px solid #d4d4d4} 
.cntimgpmidc {background-color:#cfe2fd}

.cntIconPaneHeading {width:475px; color:#ffffff; font-weight:bold; padding:12px; padding-top:6px; padding-bottom:6px; background-color:#ed9200; margin:0px}
.cntIconPaneSubhead {color:#666666; font-weight:bold; padding:10px 10px 4px}
.cntIconPaneLink {color:#666666; padding:0px 10px}

/* _lcid="1033" _version="12.0.3127" _LocalBinding */ /* Copyright (c) Microsoft Corporation. All rights reserved. */ 
.ONBody {background-color:white; color:black; line-height:normal; margin:0px; padding:0px}
.ONBody B {font-weight:bold}
.ONBody CENTER {text-align:center}
.ONBody H1,.ONBody H2,.ONBody H3,.ONBody H4,.ONBody H5,.ONBody H6 {line-height:normal}
.ONBody I {font-style:italic}
.ONBody U {text-decoration:underline}
.ONBodyCellPadded,.ONBodyCellUnpadded {height:100%; margin:0px; width:100%}
.ONBodyCellPadded {padding:0px 20px 0px 20px}
.ONBodyCellUnpadded {padding:0px}
.ONBodyRightSide {border-color:#84BFE9; border-style:none solid none solid; border-width:0px 0px 0px 1px; background-color:#84BFE9}
.OAnc,.OTBItm,.ACB A {text-decoration:none}
.OAnc,.ACB A {color:#0560A6}
.OAnc:hover,.OTBItm:hover,.ACB A:hover {text-decoration:underline}
.OAnc:visited {color:#834283}
.OAncImg,.OAImgPL,.OAImgPR {border-style:none}
.OAImgPL {margin:0px 0px 0px 4px}
.OAImgPR {margin:0px 4px 0px 0px}
.ODDLst,.OFLT,.OIFile,.OLstBx,.OTBM,.OTBS,.OSB {}
.OBtn {padding:0px 0px 0px 0px}
.OFrm,.OFLT {border-style:none; margin:0px; padding:0px}
.OFLTDP {padding:0px 23px 1px 0px}
.OTA,.OTATDTtl {border-style:none; margin:0px; padding:0px}
.OTATDTN {border-style:none; margin:0px; padding:0px 0px 0px 0px}
.OTA {width:100%}
.OTATtl {font-size:1.6em; font-weight:bold; line-height:normal}
.OTATDLOne,.OTATDLSep,.OTATDLTwo,.OTATDTtl {border-bottom:1px solid #95B4EA; padding-top:9px; height:29px}
.OTATDLOne,.OTATDLSep,.OTATDLTwo {padding-bottom:2px}
.OTATDLOne {padding-left:15px; padding-right:0px}
.OTATDLSep {padding-left:4px; padding-right:4px}
.OTATDLTwo {padding-left:0px; padding-right:0px}
.OTATDTtl {padding-right:0px}
.OTATDTN {height:12px}
.OTBar A,.OTBar A:visited {color:#003399}
.OTBar,.OTBICon,.OTBICUn,.OTBISep,.OTBITbl {border-style:none; margin:0px}
.OTBar,.OTBITbl {padding:0px; width:100%}
.OTBar {background-color:#9EBFF6; background-image:url(http://tc4.iponet.net/_Services/Ont/images/TBGradient.gif); background-repeat:repeat-x; border:1px solid #95B7F3; height:24px; padding:0px 2px 0px 3px}
.OTBICon,.OTBISep {vertical-align:baseline}
.OTBICon {padding:2px 0px 4px 0px}
.OTBICUn {padding:0px}
.OTBISep {color:#5183DB; padding:2px 4px 4px 4px}
.OTbl,.OClg,.OSRTbl,.OSETbl {line-height:normal}
.OClg,.OSRTbl,.OSETbl {width:100%}
.OClgCoL {padding-left:0px; padding-right:12px}
.OClgCoR {padding-left:13px; padding-right:0px}
.OClgH,.OClgHM,.OClgHME {color:#0560A6; font-weight:bold; padding:0px 0px 2px 0px}
.OClgH {border-bottom:1px solid #cccccc}
.OClgHME {padding:0px 0px 10px 0px}
.OClgI {font-weight:normal}
.OLstI LI {padding:3px 0px 3px 0px}
.ACB LI {padding:3px 0px 3px 0px; list-style:url(http://office.microsoft.com/_Services/Ont/images/bulletl.gif) square outside}
.OLstUO {list-style-image:url(http://tc4.iponet.net/_Services/Ont/images/bulletl.gif)}
.OLstUOA,.OLstUON {margin:0px 0px 0px 6px; padding:0px 0px 0px 6px}
.OLstUOA {list-style-image:url(http://tc4.iponet.net/_Services/Ont/images/RghtArrBlt.gif)}
.OLstUON {list-style-image:url(http://tc4.iponet.net/_Services/Ont/images/BulletLN.gif)}
.ACB OL UL,.ACB UL UL {list-style-type:disc}
.ACB OL {margin:0px 1.5em 0px 9px; padding:0px 0px 0px 9px}
.ACB UL {margin:0px 1.5em 0px 9px; padding:0px 0px 0px 9px}
.ACB PRE {margin-bottom:1.5em; margin-top:1.2em; padding:8px 8px 8px 8px; background-color:#EEEEEE}
.ACB P {margin-bottom:.6em; margin-top:.6em}
.OVl,.OVlSm,.OILbl {color:#CC1100; font-weight:bold}
.OILbl2 {color:#CC1100; font-weight:normal}
.PassportSignInTableTitle {color:#FFFFFF; font-weight:bold}
.TopNav1stRowRight {background-color:#387FD1; background-image:url(http://tc4.iponet.net/_Services/Ont/images/topnav1m.gif); background-repeat:repeat-y; background-position:left; padding:0px 6px 0px 6px}
.TopNavCellSep {color:#84BFE9; padding:0px 1px 0px 2px}
.TopNavWorldwide {color:#999999}
#TopNavWorldwideImageTd {background-color:#ffffff; vertical-align:middle; padding:0px 6px 0px 10px}
#TopNavWorldwideTextTd {background-color:#ffffff; vertical-align:middle}
#TopNavWorldwideLM,#TopNavWorldwideChange {text-decoration:none}
#TopNavWorldwideLM {font-weight:bold}
#TopNavWorldwideLM:hover {text-decoration:none}
#TopNavWorldwideChange:hover {text-decoration:underline}
.TopNavLinkSiteMap {color:#ffffff; text-decoration:none}
.TopNavLinkSiteMap:visited {color:#ffffff; text-decoration:none}
.TopNavLinkSiteMap:hover {color:#ffffff; text-decoration:none}
.TopNavCellPassport {padding:0px 12px 0px 21px; text-align:right}
.TopNav2ndRowMiddle {background-color:#ffffff; background-image:url(http://tc4.iponet.net/_Services/Ont/images/topnav2m.gif); background-repeat:repeat-y; background-position:right}
.TopNav2ndRowMiddleLight {background-color:#ffffff; background-image:url(http://tc4.iponet.net/_Services/Ont/images/topnavl2m.gif); background-repeat:repeat-y; background-position:right}
.TopNav2ndRowRight {background-color:#2B92DB; background-image:url(http://tc4.iponet.net/_Services/Ont/images/topnav2r.gif); background-position:right; background-repeat:no-repeat}
.SearchControlCell {background-color:#409DDE; background-image:url(http://tc4.iponet.net/_Services/Ont/images/topnav3r.gif); background-repeat:repeat-y; background-position:right; height:26px; vertical-align:middle; text-align:right; padding:0px 12px 0px 12px; border-bottom:1px solid #BFC0C4}
.FooterNavCell {background-color:#5197DD; background-image:url(http://tc4.iponet.net/_Services/Ont/images/footerl.gif); background-repeat:repeat-y; background-position:left; height:32px; vertical-align:middle; text-align:left; padding:8px 10px 8px 10px}
.FooterMsLogo {padding:3px 6px 7px 6px; background-color:#5197DD; text-align:right}
.ONLTTbl {width:100%; background-color:#e5eefd; border-color:#bfbfbf; border-style:solid; border-width:0px 0px 1px 1px}
.ONLTFirstItem {padding:2px 7px 2px 16px}
.ONLTItem {padding:2px 9px 2px 9px}
.ONLTItem A,.ONLTFirstItem A {width:100%; color:#0c4b7b; text-decoration:none}
.ONLTItem A:hover,.ONLTFirstItem A:hover {text-decoration:underline}
.ONTPPScarab {padding:0px 5px 0px 0px}
.ONTQLink {color:#000000; text-decoration:none}
.ONTQLink:hover {color:#000000; text-decoration:underline}
.ONTOffLogo {text-align:left; padding:0px 0px 0px 10px}
.ONTCorner {background-image:url(http://tc4.iponet.net/_Services/Ont/images/ONTCorner.gif); background-position:right top; background-repeat:no-repeat; padding:0px 0px 0px 5px}
.ONTPri {background-color:#a8b4cb; background-image:url(http://tc4.iponet.net/_Services/Ont/images/ONTPriBk.gif); background-repeat:repeat-x; height:22px; padding-top:1px}
.ONTItemSel {background-color:#FDDB94; background-image:url(http://tc4.iponet.net/_Services/Ont/images/ONLItemBk.gif); background-repeat:repeat-x; border:1px solid #5b7194; padding:0px 7px 2px 8px}
.ONTLink {color:#040b48; text-decoration:none}
.ONTLink:hover {color:#040b48; text-decoration:underline}
.ONTLinkSel {color:#040b48; font-weight:bold; text-decoration:none}
.ONTLinkSel:hover {text-decoration:underline}
.ONLeft {width:155px}
.ONLBkColor,.ONLBkColorDark {height:8px}
.ONLBkColor {background-color:#e5eefd}
.ONLBkColorDark {background-color:#cedefa}
.ONLTerHorzSpcr {background-color:#dce9fc; border-color:#ffffff; border-style:solid; border-width:0px 0px 0px 1px; height:8px}
.ONLSecLinkDark,.ONLSecLinkDarkSel {color:#0c4b7b}
.ONLSecLink,.ONLSecLinkSel {color:#0560A6}
.ONLSecLink,.ONLSecLinkDark {padding:2px 0px 2px 1px; text-decoration:none; width:100%}
.ONLSecLinkSel,.ONLSecLinkDarkSel {font-weight:bold; padding:2px 0px 2px 0px; text-decoration:none; width:100%}
.ONLSecLink:hover,.ONLSecLinkSel:hover,ONLSecLinkDark:hover,ONLSecLinkDarkSel:hover {text-decoration:underline}
.ONLSecItem {padding:1px 0px 0px 9px; height:18px; width:100%}
.ONLSecItemSel {background-color:#FDDB94; background-image:url(http://tc4.iponet.net/_Services/Ont/images/ONLItemBk.gif); background-repeat:repeat-x; border:1px solid #adc5ed; padding:1px 0px 0px 9px; height:18px; width:100%}
.ONLSecItemSelLt {padding:1px 0px 0px 0px; height:8px; width:100%}
.ONLTerLink,.ONLTerLinkSel {color:#0c4b7b; padding:2px 0px 2px 4px; text-decoration:none; width:100%}
.ONLTerLink:hover,.ONLTerLinkSel:hover {text-decoration:underline}
.ONLTerLinkSel {background-color:#FDDB94; background-image:url(http://tc4.iponet.net/_Services/Ont/images/ONLItemBk.gif); background-repeat:repeat-x; border:1px solid #adc5ed; font-weight:bold}
.ONLTerItem,.ONLTerItemFirst {background-color:#dce9fc; border-color:#ffffff; border-style:solid; height:18px}
.ONLTerItemFirst {border-width:1px 0px 0px 1px; padding:2px 0px 0px 4px}
.ONLTerItem {border-width:0px 0px 0px 1px; padding:0px 0px 0px 4px}
.ONLPartTitle {color:#5f5f5f; font-weight:bold; padding:0px 0px 0px 16px}
.ONLPartTitleBlue {color:#5f5f5f; background-color:#E5EEFD; font-weight:bold; padding:0px 0px 0px 16px}
.ONLSptltPtTitle {background-image:url(http://tc4.iponet.net/_Services/Ont/images/ONLSptlt.gif); background-repeat:repeat-y; font-size:1.2em; font-weight:bold; height:27px}
.ONLRightTitle {background-color:#9ebff6; background-image:url(http://tc4.iponet.net/_Services/Ont/images/ONLPtTBk.gif); background-repeat:repeat-y; font-weight:bold; border:solid #C4D9F9 2px; border-bottom:none; padding:4px 12px 4px 12px}
.ONLRightTitle2 {background-image:url("/global/images/spotlight_container_background.gif"); border-color:#C4D9F9; border-width:2px 2px 0px 2px; border-style:solid; padding:5px 8px 0px 12px}
.ONLSpotlightContainerBody {border-color:#C4D9F9; border-width:0px 2px 2px 2px; border-style:solid; padding:0px 0px 5px 5px}
.ONLPLCell {padding:3px 16px 2px 16px}
.ONLPLCellBul {padding:8px 5px 2px 16px}
.ONLPLCellWBul {padding:3px 16px 2px 0px}
.ONLPLCell2 {padding:2px 0px 3px 7px}
.CFIPrtBulCel {padding:4px 5px 0px 10px}
.SpotlightBulletCell {padding:3px 0px 0px 5px}
.CFIPrtLink,.PgNextLink {color:#0560A6; text-decoration:none}
.CFIPrtLink:hover,.PgNextLink:hover {text-decoration:underline}
.CFIPrtLink:visited,.PgNextLink:visited {color:#0560A6}
.ONLPartLink {color:#0560A6; text-decoration:none}
.ONLPartLink:hover {text-decoration:underline}
.ONLPartLink:visited {color:#834283}
.OSCtrl,.OSCTD0,.OSCTD1,.OSCTD2,.OSCTD3 {border-style:solid none solid none; border-width:1px 0px 1px 0px}
.OSCTD0,.OSCTD1 {border-bottom-color:#4A7AC9; border-top-color:white}
.OSCtrl,.OSCTD2,.OSCTD3 {border-bottom-color:#4A7AC9; border-top-color:#4A7AC9}
.OSCTD0,.OSCTD1,.OSCTD2 {background-color:#84BFE9}
.OSCtrl,.OSCTD3 {background-color:#B1C9F1}
.OSCtrl {padding:4px 2px 3px 1px}
.OSCTblI TD {padding:2px 3px 0px 2px}
.OSCTD0 {background-image:url(http://tc4.iponet.net/_Services/Ont/images/OSCTD0.gif); background-repeat:repeat-x}
.OSCTD1 {background-image:url(http://tc4.iponet.net/_Services/Ont/images/OSCTD1.gif); background-position:right top; background-repeat:no-repeat}
.OSCTD2 {background-image:url(http://tc4.iponet.net/_Services/Ont/images/OSCTD2.gif); background-repeat:repeat-x}
.OSCTD3 {background-image:url(http://tc4.iponet.net/_Services/Ont/images/OSCTD3.gif); background-position:left top; background-repeat:no-repeat}
.OLblEm,.OLblEmBlk,.OLblEmRed,.OLblEmOrange {font-weight:bold}
.OLblEmBlk {color:black}
.OLblEmRed {color:#EA0000}
.OLblEmOrange {color:#FF9900}
.OItmUR {font-weight:bold}
.OLCHdr,.OLCHdr A {color:#808080; text-decoration:none}
.OLCHdr A {}
.OLCHdr A:hover {text-decoration:underline}
.OSETbl {border-top:1px solid #A1B0C5}
.OSEVS {vertical-align:top; background-color:#EEEEEE; width:60%}
.OSRT,.OSET {font-weight:bold; color:#000000}
.OSEVC,.OSELC,.OSEIC {padding-top:11px}
.OSEFC {padding-top:8px}
.OPrivHI {font-style:italic}
.OPrivS {font-weight:bold}
.OTOUCBx {border:1px solid #A1B0C5}
.AsstInlineDefText {color:#00AA00; text-decoration:none}
.AsstCatArtCell {padding:2px 0px 2px 5px; margin:0px; border:0px}
.FeedbackWizButton {width:12ex}
.FeedbackWizButtonBig {width:16ex}
.FeedbackWizButtonCell {width:12ex}
.FeedbackWizCounterStar {font-weight:bold; color:#FF0000}
.FeedbackWizCell {text-align:left}
.FeedbackWizCellTmplHelp {padding:3px 3px 3px 10px; text-align:left}
#TablePullQuote {border:#000066 .5px solid; width:138px; margin-top:0px; margin-right:5px; text-align:left}
#TDPullQuote {border:#000066 1px solid; font-size:1.4em; color:#3366CC; text-align:left}
.BOBBdy,.BOBCptn,.BOBH2,.BOBByLn,.BOBH1,.BOBBlt,.BOBBlb,.BOBTH {margin:0px; padding:0px}
.BOBByLn {border-top:1px solid #cccccc; padding:2px 15px 0px 0px}
.BOBH1,.BOBH2,.BOBH3,.BOBH4 {font-weight:bold; margin:0px}
.BOBH1 {font-size:1.4em; line-height:normal; padding:0px 0px 4px 0px}
.BOBH2 {font-size:1.2em; line-height:normal; padding:10px 0px 3px 0px}
.BOBH3 { padding:0px 0px 4px 0px}
.BOBH4 {border-bottom:1px solid #cccccc; padding:10px 0px 1px 0px}
.BOBBImg,.BOBSImg {margin:0px; padding:0px 10px 0px 0px; text-align:left; vertical-align:top}
.BOBBlb {padding:0px 10px 4px 0px}
.BOBCptn {color:#0560A6; padding:0px 0px 5px 5px; text-align:center; vertical-align:top}
.BOBA,.BOBABlt {text-decoration:none}
.BOBA:hover,.BOBABlt:hover {text-decoration:underline}
.BOBA {color:black}
.BOBA:hover {color:#0560A6}
.BOBABlt {color:#0560A6}
.BOBABlt:visited {color:#834283}
.BOBTblTmplt {border-color:#cccccc; border-style:solid; border-width:1px 0px 0px 1px}
.BOBTH {background-color:#dce9fc; color:#0560A6; font-weight:bold; text-align:center}
.BOBFeatTmplt {font-weight:bold; margin-top:15px; padding:0px 6px 3px 0px}
.EditorialLeftCol {padding:0px 8px 0px 0px}
.EditorialRightCol {padding:1px 0px 0px 5px}
.RightNavBgCellLight {background-color:#ECF3FE; border-top:white 1px solid; padding:0px 0px 0px 10px}
.RightNavCODImageExt {background-color:#CFCFCF; padding:1px 0px 0px 1px}
.RightNavCODImageInt {background-color:#FFFFFF; border-top:1px solid #EFEFEF; border-left:1px solid #EFEFEF; border-right:1px solid #FFF; border-bottom:1px solid #FFF}
.RightNavNewBorderLeft {border-width:0px 0px 0px 1px; border-top-style:none; border-right-style:none; border-bottom-style:none; border-left-style:solid; border-color:#EFEFEF}
.RightNavBgCellDark {background-color:#E4EEFD; border-top:white 1px solid; padding:0px 0px 0px 6px}
.RightNavBgCellDarkNew {background-color:#F5F5F5; padding:0px 0px 0px 6px}
.RightNavHelp {background-color:#E4EEFD; padding:10px 6px 4px 0px}
.RightNavHelpNew {background-color:#F5F5F5; padding:10px 6px 4px 0px}
.SecAlertTtl,.SecAlertTtlNoDate,.SecAlertDate,.OffUpdLink {padding:0px 3px 0px 3px}
.SecAlertTtl,.SecAlertTtlNoDate {color:#FF0000}
.SecAlertImg,.SecAlertTtl,.OffUpdImg,.OffUpdLink {vertical-align:top}
.SecAlertTtlNoDate {vertical-align:middle}
.InfoPaneTitle {line-height:normal; font-size:1.5em; font-weight:bold; font-family:Arial; padding:0px 0px 0px 1px}
.InfoPaneImage {padding:4px 2px 2px 2px}
.InfoPaneText {padding:2px 8px 2px 8px}
.InfoPaneGrpHead {padding:9px 2px 2px 5px}
.InfoPaneGrpItm {padding:2px 2px 3px 6px}
.BoxTopLeft,.BoxTopRight {font-size:1px; line-height:0px; margin:0px; padding:0px; height:2px}
.BoxTopLeft {background-image:url(http://tc4.iponet.net/global/images/crnrTL.gif); background-repeat:no-repeat; background-position:left top}
.BoxTopRight {border-color:#D6D6D6; border-style:solid; border-width:1px 1px 0px 0px}
.BoxTitle,.BoxDiv,.BoxCenter {border-left:1px solid #D6D6D6; border-right:1px solid #D6D6D6}
.BoxTitle,.BoxTopRight {background-image:url(http://tc4.iponet.net/global/images/FtrGrd.gif); background-repeat:repeat-y; background-position:right top}
.BoxCenter {border-bottom:1px solid #D6D6D6}
.BoxTitle {color:#5F5F5F; font-family:verdana; padding:3px 6px 2px 6px}
.BoxDiv {background-image:url(http://tc4.iponet.net/global/images/BoxDotDiv.gif); background-repeat:repeat-x; height:1px}
.BoxCenter {padding:6px 2px 0px 8px}
.FeatAppTitleTbl {line-height:normal; border-color:#D6D6D6; border-style:solid; border-width:1px 0px 1px 0px}
.FeatAppTitleCell {padding:4px 6px 3px 6px; color:#5F5F5F; font-family:verdana}
.FeatAppTbl {line-height:normal; background-color:#FAFAFA}
.FeatAppNameCell {padding:2px 0px 1px 5px}
.FeatAppCell {border-bottom:#D6D6D6 1px solid; padding:5px 10px 8px 5px}
.FeatAppIconCell {border-bottom:#D6D6D6 1px solid; padding:9px 0px 8px 4px}
.FtrAppTbl {line-height:normal; border-color:#FB8C04; border-style:solid; border-width:1px 0px 1px 0px}
.FtrAppTitle {padding:4px 6px 3px 6px; color:#5F5F5F; font-family:verdana; background-color:#FFF3CB}
.FtrAppImage {background-color:#FAFAFA; padding:6px 8px 6px 11px}
.FeatAppCellNoBdr {padding:5px 10px 8px 5px}
.OMnMDivCel {border-color:#D6D6D6; border-style:solid; border-width:0px 0px 0px 1px}
.OMnMRightCel {padding:0px 10px 0px 12px}
.SupportTbl {line-height:normal; border-top:#D6D6D6 1px solid}
.BlockContainer {padding:4px 2px 2px 7px}
.BlockHeader {padding:0px 0px 0px 10px}
.BlockText {padding:6px 0px 0px 10px}
.RghtArrBlt {padding:6px 2px 0px 1px}
.Blt {padding:7px 0px 0px 10px}
.GrpItm {padding:2px 2px 4px 4px}
.AttnBlu {margin:1px 4px 0px 0px}
.AttnOrg {margin:0px 6px 1px 0px}
.BAnc {color:#0560A6; text-decoration:none}
.BAnc:visited {color:#0560A6}
.BAnc:hover {color:#0560A6; text-decoration:underline}
.BBAnc {color:#000000; text-decoration:none}
.BBAnc:visited {color:#000000}
.BBAnc:hover {color:#000000; text-decoration:underline}
.BIAnc {font-size:1.2em; color:black; text-decoration:none}
.BIAnc:visited {color:black}
.BIAnc:hover {text-decoration:underline}
.BOBOUDivCel {border-color:#769BC6; border-style:solid; border-width:0px 0px 0px 1px}
.BOBFtrImg {padding:0px 11px 0px 0px}
.BOBCAMFtrCollection {color:#0560A6; vertical-align:top; text-align:center; padding:0px 0px 4px 0px}
.RightNavBgCellDarkPad,.RightNavBgCellDarkPadNoTop,.RightNavBgCellDarkRed {background-color:#E4EEFD; padding:7px 7px 0px 10px}
.RightNavBgCellDarkPadNew,.RightNavBgCellDarkPadNoTopNew,.RightNavBgCellDarkRedNew {background-color:#F5F5F5; padding:7px 7px 0px 10px}
.RightNavBgCellDarkPad {border-top:white 1px solid}
.RightNavBgCellDarkRed {border-top:red 1px solid}
.RightNavCODImage {background-color:white; border-color:#E4EEFD; border-style:solid}
.RightNavCODImage {border-width:0px 2px 0px 2px; padding:10px 0px 10px 9px}
.BInfoTtl {line-height:normal; padding:0px 10px 0px 0px}
.ODBskt {background:#FAFAFA; border:1px solid #D6D6D6; width:200px}
.ODBndls {border-style:solid; border-color:#D6D6D6; border-width:0px 0px 0px 1px}
.ODBndlLn {width:325px; color:#D6D6D6; height:1px}
.ODBsktLn {width:100%; color:#D6D6D6; height:1px}
.ODCnfUpd {height:110px; overflow:auto}
.ODEula {height:185px; border:solid 1px black; overflow:auto; padding:5px}
.ODFr {padding:0px; border:#D6D6D6; border-style:solid; border-width:1px 0px 0px 1px}
.ODPrgTtl {font-size:1.2em; line-height:normal}
.ODRstUpd {height:230px; overflow:auto}
.ODSTtl {font-family:Verdana; color:#5f5f5f}
.ODTxtLH {line-height:20px}
.ODTxtLHSm {line-height:14px}
.ODTtl {font-size:1.5em; font-family:Arial; margin-top:17px; margin-bottom:5px}
.ODW .OTBICon {padding:0px 12px 0px 12px}
.ODW .OLstUO {margin:0px 2px 0px 12px}
.ODW .OBtn {width:75px}
.AccessCodeBox {width:102px; margin:1px 0px 1px 0px}
.AccessCodeButton {padding:0px 2px 0px 2px; margin:0px 0px 0px 7px}
.ContactUsAfterBullet {padding:0px 0px 0px 8px}
.ContactUsHiTitle {background-image:url(http://tc4.iponet.net/_Services/Ont/images/cutop.gif); background-repeat:repeat-y; background-position:right; border-width:1px 1px 0px 1px; border-color:#E1E1E1; border-style:solid solid none solid; padding:3px 5px 3px 5px}
.ONLSLinkSel {padding:2px 0px 2px 0px; font-weight:bold; width:100%; color:#0560a6; text-decoration:none}
.ONLSLinkSel:hover {TEXT-DECORATION:underline}
.ONLSFirstTitle {padding:0px 9px 2px 9px}
.ONLSTitle {padding:11px 9px 2px 9px}
.ONLSTitle,.ONLSFirstTitle {width:100%; line-height:normal; font-weight:bold; color:#676360}
.BOLocalNav TD.BOBkTtl {font-family:Arial,Helvetica,sans-serif; font-size:1.6em; font-weight:bold; line-height:normal; border-width:0px; padding:0px; margin:0px; vertical-align:bottom}
.BOParentNav TABLE,.BOSiblingNav TABLE,.BONextNav TABLE {margin:0px; padding:0px}
.BOParentNav TD,.BONextNav TD {border:0px; vertical-align:bottom}
.BOParentNav TD.BOPNLbl {padding:0px 5px 3px 0px}
.BOParentNav TD.BOPNBtn {padding:0px 5px 0px 5px}
.BOSiblingNav TD.BOBoxBul,.BOSiblingNav TD.BOBoxBulSel {vertical-align:top; padding:4px 1px 4px 1px; border-color:#d6d6d6; border-style:none; border-width:0px 0px 0px 1px}
.BOSiblingNav TD.BOBoxItem,.BOSiblingNav TD.BOBoxItemSel {padding:3px 5px 3px 5px; border-color:#d6d6d6; border-style:none; border-width:0px 1px 0px 0px}
.BOSiblingNav TD.BOBoxItemSel,.BOSiblingNav TD.BOBoxBulSel {background-color:#fff3cb}
.BOSiblingNav TD.BOBoxTitle,.BOSiblingNav TD.BOBoxDiv {border-color:#d6d6d6; border-style:none; border-width:0px 1px 0px 1px}
.BOSiblingNav TD.BOBoxTopLeft,.BOSiblingNav TD.BOBoxTopRight {font-size:1px; line-height:0px; margin:0px; padding:0px; height:2px}
.BOSiblingNav TD.BOBoxTopLeft {background-image:url(http://tc4.iponet.net/global/images/crnrTL.gif); background-repeat:no-repeat; background-position:left top; border:0px}
.BOSiblingNav TD.BOBoxTopRight {border-color:#d6d6d6; border-style:none; border-width:1px 1px 0px 0px}
.BOSiblingNav TD.BOBoxTitle,.BOSiblingNav TD.BOBoxTopRight {background-image:url(http://tc4.iponet.net/global/images/FtrGrd.gif); background-repeat:repeat-y; background-position:right top}
.BOSiblingNav TD.BOBoxCenter {border-bottom:1px none #d6d6d6; padding:0px 0px 0px 0px}
.BOSiblingNav TD.BOBoxTitle {color:#5F5F5F; font-family:verdana; font-weight:bold; padding:3px 6px 2px 6px; border-bottom:1px solid #d6d6d6}
.BOSiblingNav TD.BOBoxDiv {background-image:url(http://tc4.iponet.net/global/images/BoxDotDiv.gif); background-repeat:repeat-x; height:1px}
.ULstDisc {list-style-type:disc}
.OLblEmCommunity {font-size:1.2em}
.CntTbr {background-color:#f5f5f5; border-color:#bfbfbf; border-style:solid; border-width:1px 0px 0px 0px; padding:2px 3px 2px 3px}
.CntTbr A {color:#0560A6; line-height:normal; text-decoration:none}
.CntTbrText {padding:4px 3px 4px 3px; line-height:normal}
.CntTbr A:hover {text-decoration:underline}
.CntTbr A:visited {color:#834283}
@media print {.OAnc,.OTBItm,.ACB A,.AsstInlineDefText,.OLCHdr,.OLCHdr A,.ACB .ov,.ACB .omblue,.ACB .ombluedash,.ACB .omyellow,.ACB .omyellowdash,.ACB .ofvbashowdesc,.ACB .ofvbanavex,.ACB .DropDown,.ACB .HidePopUp,.ACB .Glossary,.ACB .Glossarydef,.BOBA,.BOBABlt,.BAnc,.BBAnc,.BIAnc {text-decoration:underline}}
.BlankAnc {color:black; text-decoration:none}
.tlFilter {margin:0px; padding:0px; background:white; display:block; border:1px solid #BDCBDE; list-style:none}
#tlFilter li {margin:0px; padding:7px}
#tblFilter {margin:0px; padding:0px; background-color:#F4F7FF; border-bottom:1px solid #BDCBDE}
.SUBTitle {font-weight:bold}
#SUBHeader td.Arrow,#SUBDN .Arrow,#SUBPArrow,#SUBButton .Arrow {width:19px; height:19px; background-repeat:no-repeat; background-position:center}
#SUBHeader {background-color:rgb(254,252,227); width:546px; padding:7px; border-width:1px; border-style:solid; border-color:rgb(213,213,213); text-align:center}
#SUBHeader td {color:#666}
#SUBHeader td b {font-weight:bold}
#SUBHeader td.Off {}
#SUBHeader td.On {color:#000000; font-weight:bold}
#SUBHeader td.On b {color:rgb(255,153,0)}
#SUBHeader td.Arrow {text-align:center; width:50px; height:17px; background-image:url('http://tc4.iponet.net/submissions/sarrowo.gif')}
#SUBDN {background-color:#fff; width:500px; padding:0px; border:1px solid #000}
#SUBDN td {margin:0px auto; padding:15px}
#SUBDN .Arrow {float:left; background-image:url('http://tc4.iponet.net/submissions/sarroww.gif')}
#SUBDN .Description {text-align:left}
#SUBPArrow {display:none; position:absolute; background-image:url('http://tc4.iponet.net/submissions/sarrowg.gif')}
#SUBButton,.SUBButtonDiv {text-align:right}
#SUBButton table {float:right}
#SUBButton .Arrow {float:left; background-image:url('http://tc4.iponet.net/submissions/sarrowg.gif')}
#SUBHelp1,#SUBHelp2,#SUBHelp3,#SUBHelp4 {position:relative; float:right; left:22px; bottom:10px}
td.editorialcontent {}
table.categoryList {border-top:2px #ccc solid; border-bottom:2px #ccc solid}
td.categoryList {padding:2px 5px 2px 5px}
td.categoryBody {text-align:left; vertical-align:top}
td.categoryHeading {background-color:orange; color:white; font-weight:bold; padding:3px 6px 3px 6px}
ul.categoryList {list-style:none; margin:0; padding:0}
ul.categoryList li {padding:2px 0px 2px 0px}
div.clientBreadCrumbs {border-bottom:1px #ccc solid; padding:0px 1px 3px 1px}
div.clientTitle {font-size:1.5em; padding:5px 0px 5px 0px; font-weight:bold}
div.clientFooter {border-top:1px solid #ccc; padding:2px 0px 0px 0px}
body.clientViewer {font-size:80%; background-color:white; color:black; line-height:normal; margin:10px}
body.clientViewer b {font-weight:bold}
body.clientViewer p {font-size:1.0em}
td.clientTopicsTitle {border-top:2px solid #ccc; border-bottom:1px solid #ccc; padding:2px 0px 2px 0px; font-weight:bold}
td.clientTopicsCount {border-top:2px solid #ccc; border-bottom:1px solid #ccc; padding:2px 0px 2px 0px}
td.clientArticleList {padding:3px 1px 10px 1px; line-height:150%}
td.clientSuggestionList {padding:3px 1px 5px 1px; border-bottom:2px solid #ccc}
td.clientSearchIcon {vertical-align:top; padding:5px 3px 5px 3px}
td.clientSearchText {vertical-align:top; padding:5px 3px 5px 3px; line-height:125%}
td.clientSearchBody {padding:5px 0px 5px 0px}
td.clientSearchTemplate {padding:5px 0px 5px 0px}
ul.moreLinks {list-style-image:url(http://tc4.iponet.net/_Services/Ont/images/bulletl.gif); margin:0px 12px 0px 12px; line-height:150%}
td.moreLinks {padding:10px 0px 0px 0px}
div.moreLinksHeader {font-weight:bold; padding:0px 0px 3px 0px; font-size:1.0em}
div.noResultsHeading {font-size:1.3em; padding:0px 0px 5px 0px}
div.floatingContent {float:right; width:160px; padding:0px 0px 0px 10px}
div.floatingContentSub1 {padding:5px; background-color:#ccc; line-height:150%}
div.floatingContentSub2 {padding:5px; background-color:beige; line-height:150%}

/* office10.css */
/* PARAGRAPH */
p {margin-top:.6em; margin-bottom:.6em}
.collapsed {display:none}
.def {margin-top:40pt}
#theIFRAME {position:absolute; display:none}

/* LISTS */ 
ol {font-size:100%; margin-top:.5em; margin-bottom:0em; margin-left:4em}
ul {font-size:100%; margin-top:.5em; margin-bottom:0em}
ol ul {list-style:disc; margin-top:.5em}
ul ul {list-style:disc; margin-top:.5em}

/* remove because style was creating a conflict in preview li {margin-bottom:.7em; margin-left:-2em} */
/* PREFORMATTING - CODE */ 
pre {font-size:100%; margin-top:1.2em; margin-bottom:1.5em}
code {font-family:"courier new", courier; font-size:125%}
.vs {font-size:100%; margin-top:1.2em; margin-bottom:1.5em; BACKGROUND-COLOR:#eeeeee}

/* TABLES */ 
table {font-size:100%; margin-top:1em; margin-bottom:0em}
th {text-align:left; background:#cccccc; margin:.25em; vertical-align:bottom}
tr {vertical-align:top}

/* remove because style was creating a conflict in preview td {margin:.25em; vertical-align:top; border-bottom:1px solid #cccccc} */
.AppSetAppIcon {margin:0px 8px 3px 0px}

/* Heading styles */ 
h1 {font-size:125%; margin-top:.4em; margin-bottom:.5em}
h2 {font-size:110%; margin-top:2em; margin-bottom:.5em}
h3 {font-size:100%; margin-top:1.2em; margin-bottom:.5em; font-weight:bold}
h4 {font-size:100%; margin-top:1.2em; font-weight:bold}
h5 {font-size:100%; margin-top:1.2em; font-weight:bold}
.lproch {font-weight:bold ; margin-top:1.2em}/* Heading 9,List Procedure Heading,lproch */

/* Defined List styles */
dt {font-weight:bold}
dd {margin-left:2em; margin-bottom:.6em}
.tableup {margin-top:0em}

/* Language Reference styles */
/* code comments */
.comment {color:darkgreen}
/* Object model blue box */
.omblue {height:16px; width:180px; padding:2px; background-color:#99FFFF; border:1px solid windowframe; color:windowtext; font-weight:bold; text-decoration:none; cursor:hand; line-height:9px}
/* Object model blue dashed box */
.ombluedash {height:16px; width:180px; padding:2px; background-color:#99FFFF; border:1px dashed windowframe; color:windowtext; text-decoration:none; cursor:hand; line-height:9px}
/* Object model yellow box */
.omyellow {height:16px; width:180px; padding:2px; background-color:#FFFF99; border:1px solid windowframe; color:windowtext; font-weight:bold; text-decoration:none; cursor:hand; line-height:9px}	
/* Object model yellow dashed box */
.omyellowdash {height:16px; width:180px; padding:2px; background-color:#FFFF99; border:1px dashed windowframe; color:windowtext; text-decoration:none; cursor:hand; line-height:9px}
/* Navigation hyperlink list container */
.ofvbaispan {position:absolute; 	padding:0px; border:1px solid windowframe; color:windowtext; display:none; z-index:+1}
/* Navigation area */
.ofvbanav {padding:0px 0px 10px 0px}
/* Active navigation area jumps */
.ofvbanavreuse {width:75px; color:#0000cc; cursor:hand}
/* Inactive navigation area jump */
.ofvbanavunused {width:75px; color:graytext}
/* Hidden navigation area jump */
.ofvbanavhidden {width:75px; display:none}
/* Navigation hyperlink list topic description toggle */
.ofvbashowdesc {color:#0000cc; cursor:hand; font-size:smaller; text-decoration:underline}
/* Navigation hyperlink list topic description sections */
.ofvbadesc {color:windowtext; display:none}
/* Example navigation area jumps */
.ofvbanavex {text-decoration:none}
/* Syntax box */
.ofvbasyn {width:100%; padding:0px 8px; background-color:#cccccc}
.signature {width:100%; 	padding:0px 3px; background-color:#EFEFF7}
.ofvbalink {text-decoration:none}

/* WR5 */
div.cntArticleBody {font-size:1.2em; font-family:Arial, Tahoma, Helvetica, sans-serif; color:#484848; line-height:1.6em; width:475px}
td.cntArticleBody {font-size:1.2em; font-family:Arial, Tahoma, Helvetica, sans-serif; color:#484848; line-height:1.6em; width:475px}
.cntArticleBody p {padding:0px; margin:18px 0px}
.synopsis {font-size:14px; line-height:18px}
.synopsisruninhead {font-weight:bold}
.bmkTOChead {color:#999999; font-weight:bold; font-size:18px; margin:30px 0px 0px}
p#bmkTOClinks {padding:0px; margin:6px 0px}
li#bmkTOClinks {padding:0px; margin:0px 16px}
.bmktocrule {color:#cccccc; height:1px; padding:0px; margin:0px}
ul#bmkTOClist {margin:0px; padding:0px; display:inline-block; list-style-image:url(http://tc4.iponet.net/global/images/default.aspx?AssetID=ZA100694391033)}
#bmkTOCpara {margin:0px; padding:0px}
.noborder {margin:.25em; vertical-align:top; padding-left:.5em; padding-top:.25em}
.collapse {font-size:100%; margin-top:1em; margin-bottom:0em; border-collapse:collapse}
.cntwarning {background-color:#990000; color:#ffffff; font-size:10px; text-transform:uppercase; padding:1px 2px}
.cntnote {background-color:#ffffff; border-style:solid; border-width:1px; border-color:#abbfe0; font-size:10px; text-transform:uppercase; padding:0px 1px}
.cntArticleBody h1 {font-size:28px; color:#7598c4; padding:15px 0px; line-height:1.1em; border-bottom:1px solid #ccc; font-weight:normal}
.cntArticleBody h2 {font-size:22px; color:#eea752; line-height:24px; padding:0px; margin:30px 0px 15px 0px}
.cntArticleBody h3 {font-size:18px; color:#666666; line-height:20px}
.cntArticleBody h4 {font-size:16px; color:#999999}
.cntArticleBody h5 {font-size:12px; color:#666666}
.cntArticleBody h6 {font-size:10px; color:#666666}
.cntArticleBody h3, h4, h5, h6 {margin-top:1.2em}
.cntArticleBody h3 {margin-bottom:.5em}
.cntArticleBody hr {color:#cccccc; height:1px; padding:0px; margin: 0px} 
.cntArticleBody .ui {font-weight:bold}
.cntArticleBody .ov {text-decoration:overline}
.cntArticleBody table {margin:1em .1em 0px}
.cntArticleBody div#tableoverflow {margin: 0px; padding: 0px 0px 15px; overflow-x: auto; overflow-y: visible; width:99%}
.cntArticleBody tr {vertical-align:top}
.cntArticleBody th {padding:.25em .5em; background-color:#6B82B2; color:#FFFFFF; margin:.25em; text-align:left; vertical-align:bottom}
.thhead {padding:.25em .5em; background-color:#6b82b2; color:#FFFFFF; margin:.25em; text-align:left; vertical-align:bottom}
.cntArticleBody td {padding:.25em .5em; margin:.25em; vertical-align:top; text-align:left}
.trbgeven {padding:.25em .5em; vertical-align:top; background:#F2F2F2}
.trbgodd {padding:.25em .5em; vertical-align:top}
.cntArticleBody li {padding:0px; margin:18px 1em; display:list-item}
.cntArticleBody ol {display:inline-block; list-style:none decimal outside; margin:-15px 0px; padding:0px 0px 0px 1.5em}
.cntArticleBody ul {display:inline-block; list-style:url(http://tc4.iponet.net/global/images/default.aspx?assetid=ZA100793661033) square outside; margin:-15px 0px; padding:0px 0px 0px 9px}
.cntArticleBody ul ol {list-style-image:none}
.cntArticleBody ul ul {list-style-image:url(http://tc4.iponet.net/global/images/default.aspx?assetid=ZA100979191033); padding:0px}
.cntArticleBody ol ul {list-style-image:url(http://tc4.iponet.net/global/images/default.aspx?assetid=ZA100979191033); padding:0px}
.cntArticleBody ul ul ul {list-style-image:url(http://tc4.iponet.net/global/images/default.aspx?assetid=ZA100979191033); padding:0px}
.cntArticleBody pre {padding:8px; background-color:#EEEEEE}
.cntArticleBody code {font-family:"Courier New" ,Courier,monospace; font-size:1.2em; text-align:left}
.cntArticleBody .bterm {font-weight:bold}
.cntArticleBody .iterm {font-style:italic}
.cntArticleBody .keycombo {font-weight:bold}
.cntArticleBody .noborder {border-style:none}
.cntArticleBody .rtt {font-size:.90em; text-align:right}
.cntArticleBody .runinhead {font-weight:bold; /* _locID_css@font-weight="ACBRUNINHEADFontWeight" _locComment=" {StringCat=STY} {ValidStrings=bold,normal}Special style for special languages - RUNINHEAD. For languages other than 1041,1028,3076,2052,we want to do the same thing we do for BoldFontWeight. For 1041,1028,3076,2052,we want to follow a set of guidelines specific to those locales." */}
.cntArticleBody .tableup {margin-top:0px}
.cntArticleBody .ofvbaispan {border:1px solid windowframe; padding:0px; color:windowtext; display:none; position:absolute; z-index:+1}
.cntArticleBody .ofvbanav {padding:0px 0px 10px 0px}
.cntArticleBody .ofvbanavreuse, .cntArticleBody .ofvbanavunused, .cntArticleBody .ofvbanavhidden {width:75px}
.cntArticleBody .ofvbanavreuse {color:#0000CC; cursor:hand}
.cntArticleBody .ofvbanavunused {color:graytext}
.cntArticleBody .ofvbanavhidden {display:none}
.cntArticleBody .ofvbadesc {color:windowtext; display:none}
.cntArticleBody .ofvbanavex {text-decoration:none}
.cntArticleBody B .dt1, .cntArticleBody .ind, .cntArticleBody .hang {margin:0px /* _locID_css@margin-top="ACBDT1HANGINDMarginTop" _locComment=" {StringCat=STY} {Locked}" */ 0px /* _locID_css@margin-right="ACBDT1HANGINDMarginRight" _locComment=" {StringCat=STY} {ValidStrings=0px,2em}This is the margin-right of the dt1,hang and ind styles in the AWS content area,which needs to be flipped for RtL." */ 0px /* _locID_css@margin-top="ACBDT1HANGINDMarginBottom" _locComment=" {StringCat=STY} {Locked}" */ 2em; /* _locID_css@margin-left="ACBDT1HANGINDMarginLeft" _locComment=" {StringCat=STY} {ValidStrings=2em,0px}This is the margin-left of the dt1,hang and ind styles in the AWS content area,which needs to be flipped for RtL." */}
.cntArticleBody .dt1 {text-indent:-2em}
.cntArticleBody .hang {text-indent:-2em}
.cntArticleBody .figure {font-weight:bold}
.cntArticleBody .ac {font-size:11px; padding:0px; margin:9px 0px 15px 0px}
.cntArticleBody .alpha {font-size:1.25em; /* _locID_css@font-size="ACBALPHAFontSize" _locComment=" {StringCat=STY}This is the font-size of the alpha style in the AWS content area. This size is relative to the PageFontSize." */ font-weight:bold; /* _locID_css@font-weight="ACBALPHAFontWeight" _locComment=" {StringCat=STY}This is the font-weight of the alpha style in the AWS content area." */}
.cntArticleBody .comment {color:darkgreen}
.cntArticleBody dd {margin:0px /* _locID_css@margin-top="ACBDDMarginTop" _locComment=" {StringCat=STY} {Locked}" */ 0px /* _locID_css@margin-right="ACBDDMarginRight" _locComment=" {StringCat=STY} {ValidStrings=0px,2em}This is the margin-right of DD tags in the AWS content area,which needs to be flipped for RtL." */ .6em /* _locID_css@margin-top="ACBDDMarginBottom" _locComment=" {StringCat=STY} {Locked}" */ 2em; /* _locID_css@margin-left="ACBDDMarginLeft" _locComment=" {StringCat=STY} {ValidStrings=2em,0px}This is the margin-left of DD tags in the AWS content area,which needs to be flipped for RtL." */}
.cntArticleBody .def {margin-top:40pt}
.cntArticleBody .DropDown, .cntArticleBody .HidePopUp, .cntArticleBody .Glossary, .cntArticleBody .Glossarydef {text-decoration:none}
.cntArticleBody a:hover.DropDown, .cntArticleBody .HidePopUp:hover, .cntArticleBody .Glossary:hover {text-decoration:underline; /* _locID_css@text-decoration="ACBDDHPUGDecoration" _locComment=" {StringCat=STY}This is how an anchor is decorated when it is hovered over when used with the DropDown,HidePopUp,and Glossary styles in the AWS content area." */}
.cntArticleBody a.DropDown {color:#666666; line-height:18px; font-weight:normal; /* _locID_css@font-weight="ACBDROPDOWNFontWeight" _locComment=" {StringCat=STY}This is the font-weight of the dropdown style in the AWS content area." */ top:0px}
.cntArticleBody a:active.DropDown {color:#666666; line-height:18px; font-weight:normal; /* _locID_css@font-weight="ACBDROPDOWNFontWeight" _locComment=" {StringCat=STY}This is the font-weight of the dropdown style in the AWS content area." */ top:0px}
.cntArticleBody a:visited.DropDown {color:#666666; line-height:18px; font-weight:normal; /* _locID_css@font-weight="ACBDROPDOWNFontWeight" _locComment=" {StringCat=STY}This is the font-weight of the dropdown style in the AWS content area." */ top:0px}
.cntArticleBody .Glossarydef {color:#008C00}
.cntArticleBody .glossary {color:#660000}
.cntArticleBody dt {font-weight:bold; /* _locID_css@font-weight="ACBDTFontWeight" _locComment=" {StringCat=STY}This is the font-weight of DT tags in the AWS content area." */}
.cntArticleBody .expanded {font-weight:normal; /* _locID_css@font-weight="ACBEXPANDEDFontWeight" _locComment=" {StringCat=STY}This is the font-weight of the expanded style in the AWS content area." */}
.cntArticleBody .expfav {font-size:.8em; /* _locID_css@font-size="ACBEXPFAVFontSize" _locComment=" {StringCat=STY}This is the font-size of the expfav style in the AWS content area. This size is relative to the PageFontSize." */ text-align:right /* _locID_css@text-align="ACBEXPFAVAlign" _locComment=" {StringCat=STY} {ValidStrings=right,left}This is the text-align of the expfav style in the AWS content area,which needs to be flipped for RTL." */}
.cntArticleBody .mt {font-weight:bold; /* _locID_css@font-weight="ACBMTFontWeight" _locComment=" {StringCat=STY}This is the font-weight of the mt style in the AWS content area." */ margin-top:2em}
.cntArticleBody .ofvbasyn, .cntArticleBody .signature {background-color:#EFEFF7; padding:0px 8px 0px 8px; width:100%}
.cntArticleBody .4 {line-height:4pt}
.cntArticleBody .6 {line-height:6pt}
.cntArticleBody .omblue, .cntArticleBody .ombluedash, .cntArticleBody .omyellow, .cntArticleBody .omyellowdash {border-color:windowframe; border-width:1px; color:windowtext; cursor:hand; height:16px; /* _locID_css@height="ACBOMHeight" _locComment=" {StringCat=STY}This should increase if PageFontSize increase." */ padding:0px /* _locID_css@padding-top="ACBOMBOXESPaddingTop" _locComment=" {StringCat=STY} {Locked}" */ 0px /* _locID_css@padding-right="ACBOMBOXESPaddingRight" _locComment=" {StringCat=STY} {ValidStrings=0px,2px}This is the padding-right of the omblue,ombluedash,omyellow,and omyellowdash styles in the AWS content area,which needs to be flipped for RtL." */ 0px /* _locID_css@padding-bottom="ACBOMBOXESPaddingBottom" _locComment=" {StringCat=STY} {Locked}" */ 2px; /* _locID_css@padding-left="ACBOMBOXESPaddingLeft" _locComment=" {StringCat=STY} {ValidStrings=2px,0px}This is the padding-right of the omblue,ombluedash,omyellow,and omyellowdash styles in the AWS content area,which needs to be flipped for RtL." */ text-decoration:none; width:180px; /* _locID_css@width="ACBOMWidth" _locComment=" {StringCat=STY}This should increase if PageFontSize increase." */}
.cntArticleBody .omblue, .cntArticleBody .omyellow {border-style:solid; font-weight:bold; /* _locID_css@font-weight="ACBOMBLUEYELLOWFontWeight" _locComment=" {StringCat=STY}This is the font-weight of the omblue and omyellow styles in the AWS content area." */}
.cntArticleBody .ombluedash {border-style:dashed}
.cntArticleBody .omblue, .cntArticleBody .ombluedash {background-color:#99FFFF}
.cntArticleBody .omyellow {background-color:#FFFF99}
.cntArticleBody .ofvbashowdesc {color:#0000CC; cursor:hand; font-size:smaller; /* _locID_css@font-size="ACBOFVBASHOWDESCFontSize" _locComment=" {StringCat=STY}This is the font-size of the ofvbashowdesc style in the AWS content area. This size is relative to the PageFontSize." */ text-decoration:underline; /* _locID_css@text-decoration="ACBOFVBASHOWDESCDecoration" _locComment=" {StringCat=STY}This is the text-decoration of the ofvbashowdesc style in the AWS content area." */}
.AsstInlineDefText {color:#660000; text-decoration:none}
.cntArticleBody a {text-decoration:none; color:#0560A6}
.cntArticleBody a:hover {text-decoration:underline; /* _locID_css@text-decoration="AnchorHoverTextDecoration" _locComment=" {StringCat=STY}This is how an anchor is decorated when it is hovered over." */}
.cntArticleBody .hide4ara {display:block; /* _locID_css@display="ACBhide4araDisplay" _locComment=" {StringCat=STY} {ValidStrings=block,none} {Locked=!1025,2049,3073,4097,5121,6145,7169,8193,9217,10241,11265,12289,13313,14337,15361,16385}This is the display of the hide4ara style in the AWS content area." */}
.cntArticleBody .hide4arascript {display:block; /* _locID_css@display="ACBhide4arascriptDisplay" _locComment=" {StringCat=STY} {ValidStrings=block,none} {Locked=!1025,2049,3073,4097,5121,6145,7169,8193,9217,10241,11265,12289,13313,14337,15361,16385,1056,1065,1119,1120,1123,1125,2118,2137}This is the display of the hide4arascript style in the AWS content area." */}
.cntArticleBody .hide4bidi {display:block; /* _locID_css@display="ACBhide4bidiDisplay" _locComment=" {StringCat=STY} {ValidStrings=block,none} {Locked=!1025,2049,3073,4097,5121,6145,7169,8193,9217,10241,11265,12289,13313,14337,15361,16385,1037}This is the display of the hide4bidi style in the AWS content area." */}
.cntArticleBody .hide4biditha {display:block; /* _locID_css@display="ACBhide4bidithaDisplay" _locComment=" {StringCat=STY} {ValidStrings=block,none} {Locked=!1025,2049,3073,4097,5121,6145,7169,8193,9217,10241,11265,12289,13313,14337,15361,16385,1037,1054}This is the display of the hide4biditha style in the AWS content area." */}
.cntArticleBody .hide4ea {display:block; /* _locID_css@display="ACBhide4eaDisplay" _locComment=" {StringCat=STY} {ValidStrings=block,none} {Locked=!1028,1041,1042,2052,2066,3076,4100,5124}This is the display of the hide4ea style in the AWS content area." */}
.cntArticleBody .hide4eabidi {display:block; /* _locID_css@display="ACBhide4eabidiDisplay" _locComment=" {StringCat=STY} {ValidStrings=block,none} {Locked=!1028,1041,1042,2052,2066,3076,4100,5124,1025,2049,3073,4097,5121,6145,7169,8193,9217,10241,11265,12289,13313,14337,15361,16385,1037}This is the display of the hide4eabidi style in the AWS content area." */}
.cntArticleBody .hide4easa {display:block; /* _locID_css@display="ACBhide4easaDisplay" _locComment=" {StringCat=STY} {ValidStrings=block,none} {Locked=!1028,1041,1042,2052,2066,3076,4100,5124,1054,1057,1066,1086,1107,1108,1109,2110}This is the display of the hide4easa style in the AWS content area." */}
.cntArticleBody .hide4easabidi {display:block; /* _locID_css@display="ACBhide4easabidiDisplay" _locComment=" {StringCat=STY} {ValidStrings=block,none} {Locked=!1028,1041,1042,2052,2066,3076,4100,5124,1054,1057,1066,1086,1107,1108,1109,2110,1025,2049,3073,4097,5121,6145,7169,8193,9217,10241,11265,12289,13313,14337,15361,16385,1037}This is the display of the hide4easabidi style in the AWS content area." */}
.cntArticleBody .hide4eng {display:none; /* _locID_css@display="ACBhide4engDisplay" _locComment=" {StringCat=STY} {ValidStrings=none,block} {Locked=1033,2057,3081,4105,5129,6153,7177,8201,9225,10249,11273,12297,13321,14345,15369,16393,17417,18441}This is the display of the hide4eng style in the AWS content area." */}
.cntArticleBody .hide4enu {display:none; /* _locID_css@display="ACBhide4enuDisplay" _locComment=" {StringCat=STY} {ValidStrings=none,block} {Locked=1033}This is the display of the hide4enu style in the AWS content area." */}
.cntArticleBody .hide4enucanfrndut {display:none; /* _locID_css@display="ACBhide4enucanfrndutDisplay" _locComment=" {StringCat=STY} {ValidStrings=none,block} {Locked=1033,1036,1043,2067,3084,4105}This is the display of the hide4enucanfrndut style in the AWS content area." */}
.cntArticleBody .hide4heb {display:block; /* _locID_css@display="ACBhide4hebDisplay" _locComment=" {StringCat=STY} {ValidStrings=block,none} {Locked=!1037}This is the display of the hide4heb style in the AWS content area." */}
.cntArticleBody .hide4hindi {display:block; /* _locID_css@display="ACBhide4hindiDisplay" _locComment=" {StringCat=STY} {ValidStrings=block,none} {Locked=!1081}This is the display of the hide4hindi style in the AWS content area." */}
.cntArticleBody .hide4jamuiopt {display:block; /* _locID_css@display="ACBhide4jamuioptDisplay" _locComment=" {StringCat=STY} {ValidStrings=block,none} {Locked=!1041}This is the display of the hide4jamuiopt style in the AWS content area." */}
.cntArticleBody .hide4sa {display:block; /* _locID_css@display="ACBhide4saDisplay" _locComment=" {StringCat=STY} {ValidStrings=block,none} {Locked=!1054,1057,1066,1086,1107,1108,1109,2110}This is the display of the hide4sa style in the AWS content area." */}
.cntArticleBody .hide4sabidi {display:block; /* _locID_css@display="ACBhide4sabidiDisplay" _locComment=" {StringCat=STY} {ValidStrings=block,none} {Locked=!1054,1057,1066,1086,1107,1108,1109,2110,1025,2049,3073,4097,5121,6145,7169,8193,9217,10241,11265,12289,13313,14337,15361,16385,1037}This is the display of the hide4sabidi style in the AWS content area." */}
.cntArticleBody .somecontent {display:none; /* _locID_css@display="ACBsomecontentDisplay" _locComment=" {StringCat=STY} {ValidStrings=none,block} {Locked=1033,2057,3081,4105,5129,6153,7177,8201,9225,10249,11273,12297,13321,14345,15369,16393,17417,18441}This is the display of the somecontent style in the AWS content area." */}
.cntArticleBody .collapsed {display:none}
.cntQuizCorrect {color:#eea752}
.cntQuizCorrectAnswer {color:#eea752}
.cntQuizIncorrect {color:#7598c4}
.cntQuizUnanswered {color:#999999}
.cntQuizYourScore {color:#eea752}
.cntHeadingColor {color:#999999}
.cntTOCindent {margin:0px 18px}
a.cntvideolink2 {text-decoration:none; font-size:18px}
.ACB body {font-family:Arial, Tahoma, Helvetica, sans-serif; font-size:1.2em; color:#666666}
.ACB hr {color:#cccccc; height:1px}
.cntcallout {margin:10px 0px}

/* subweb styles from ont.css to allow preview */
.cdleftnavlist {list-style:none; margin:0; padding:0 0 0 .7em; text-indent:-.7em}
.cdlnav {color:#636363; font-size:1.1em; line-height:1.2em; padding-top:0}
.cdnavpad {padding:4px 15px 2px 15px}
.cdnavbold {font-weight:bold}.cdnavheading {font-size:1.2em; font-weight:bold}

/* VS CSS UPDATES */
/* Applies to the entire non-scrolling header region. */

div.devdocvsbody {background-color:#ffffff; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:11px; line-height:13px}
div#programweb {background-color:#ffffff; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:11px; color:#000000}

div#programweb h2 {font-size:12px; color:#000000; line-height:14px; padding:0px; margin:24px 0px 0px 0px}
div#programweb h3 {font-size: 11px; margin-top: 1.2em; margin-bottom: .5em; font-weight: bold; color:#000000; line-height:13px;}
div#programweb li {padding:0px; margin:0px}
div#programweb a:link {color: #0000cc; text-decoration:underline}
div#programweb a:active {color: #0000cc; text-decoration:underline}
div#programweb a:visited {color: #0000cc; text-decoration:underline; line-height:13px}
div#programweb a {color: #000000}
div#programweb p {margin-top: .6em; margin-bottom: .6em; line-height:13px}	
div#programweb ol {font-size: 11px; margin-top: .5em; margin-bottom: 0em; margin-left: 0em;}
div#programweb ul {list-style:disc; font-size: 11px; margin-top: .5em; margin-bottom: 0em; margin-left: 1em; padding:0px}
div#programweb ol ul {list-style: disc; margin-top: .5em;}
div#programweb ul ul {list-style: disc; margin-top: .5em;}
div#programweb li {margin-bottom: 0em; margin-left: 2em; display:list-item}
div#programweb code {font-family:"Courier New" ,Courier,monospace; font-size:11px; text-align:left; font-size:13px}
div#programweb table {margin:0px; border:none}
div#programweb tr {vertical-align:top; border:none}
div#programweb th {padding:0em; background-color:#6B82B2; color:#FFFFFF; margin:0em; text-align:left; vertical-align:bottom; border:none}
div#programweb td {padding:0em; margin:0em; vertical-align:top; text-align:left; border:none}
div#programweb pre {padding:8px; background-color:#F7F7FF; font-size:13px}

div#header {background-color:#d4dfff; padding:0px ; width:100%}


/* Applies to both tables in the non-scrolling header region. */
div#header table {border-bottom-color:#C8CDDE; border-bottom-style:solid; border-bottom-width:0; width:100%}

/* Applies to cells in both tables in the non-scrolling header region. */
div#header td {margin:.25em; vertical-align:top; border-bottom:1px solid #D4DFFF}

/* Applies to the running header text in the first row of the upper table in the non-scrolling header region. */
span#runningHeaderText {color:#003399; font-size:100%}

/* Applies to the topic title in the second row of the upper table in the non-scrolling header region. */
span#nsrTitle {color:#003399; font-size:100%; font-weight:600}
.mainheaders {color:#003399; font-size:120%; font-weight:bold}
div#vstable table {border:0; font-size:100%; width:100%; margin-top:5px; margin-bottom:5px}
div#vstable th {background-color:#EFEFF7; border-bottom:1px solid #C8CDDE; color:#000066; padding-left:5px; padding-right:5px; text-align:left}
div#vstable td {background-color:#F7F7FF; border-bottom:1px solid #D5D5D3; border-left:0px solid #D5D5D3; padding-left:5; padding-right:5; margin:1px}
div#vstable pre {margin-top:2px; margin-bottom:2px}	
div#vstable code {font-family:Monospace, Courier New, Courier; font-size:13px; color:#000066}
div#vstablenote table {border:0; font-size:100%; width:100%; margin-top:5px; margin-bottom:5px}
div#vstablenote th {background-color:#EFEFF7; border-bottom:1px solid #C8CDDE; color:#000066; padding-left 5px; padding-right:5px; text-align:left}
div#vstablenote td {background-color:#F7F7FF; border-bottom:1px solid #D5D5D3; border-left-color:1px solid #D5D5D3; padding-left:5px; padding-right:5px; margin:1px}

/* END VS CSS UPDATES */

/*Training specific style*/
div.cntTrainBody {font-size:1.2em; font-family:Arial, Tahoma, Helvetica, sans-serif; color:#484848; line-height:1.6em} 
.cntTrnTable {border:0px; margin:0px; padding:0px; width:100%}
.cntTrainBody table {font-family:Arial} 
.cntTrainBody th {font-weight:bold} 
.cntTrainBody td {vertical-align:top} 
.cntTrainBody ul {list-style-image:url('/global/images/default.aspx?AssetId=ZA100793661033'); margin:0px; padding:0px}
.cntTrainBody li {padding:0px; margin:8px 1em; display:list-item}
.cntTrainBody h2 {font-size:1.6em; color:#484848}
.cntTrainBody h3 {font-size:1.4em; color:#484848}
.cntTrainBody h4 {font-size:1.2em; color:#484848}
.cntTrnCrsTitle {padding:20px 0px; font-family:Arial; font-size:2.2em; color:#7598c4}
.cntTrnCrsPara {font-size:1.1em} 
.cntTrnDottedLine {border:dashed 1px #cccccc; border-left:none; border-right:none; border-bottom:none; margin:0px; padding:20px}
.cntTrnBars {padding:9px; font-family:Arial; font-size:.75em; color:#666666; font-weight:bold; background-color:#e4edf9; text-transform:uppercase}
.cntTrnBullet {list-style-image:url('http://tc4.iponet.net/global/images/default.aspx?AssetId=ZA100793661033');margin:0px; padding:0px}
.cntTrnList {padding:0px; margin:0px 1em; display:list-item; line-height:1.2em}
.cntTrnText {padding:10px}
.cntTrnPadText {padding:10px}
.cntTrnBorder {border:solid 1px #e4edf9; padding:0px}
.cntTrainBody .cntTrnMedia {margin:0px 10px 10px 10px} 
.cntTrainBody p .cntTrnMedia {margin:0px} 
.cntTrnMediaOV {margin-right:8px}
.cntTrnCaption {color:#666666; padding:0px 70px 0px 10px}
.cntTrnCallout {margin:10px 70px 10px 10px}
.cntTrnCallout img {vertical-align:-1px} 
.cntTrnPractice {padding:0px 0px 0px 10px}
.cntFeedback {width:450px; background-color:#f0f4fc; font-family:Arial; font-size:1.1em; color:#666666; line-height:13px; border:solid 1px #cccccc}
.cntTrnQRCimg {margin:6px 0px 12px 0px}
.cntTrnQuickRefText {margin-top:0px}
#cntTrnQRC {margin:6px} 
.cntTrnPractHelp {line-height:1.1em}
.cntTrnPractCont {background-image:url(http://tc4.iponet.net/global/images/default.aspx?assetid=ZA101091671033); background-position:top right; background-repeat:no-repeat} 
.cntTrnPractTitle {line-height:.8em; font-size:1.8em; font-family:Arial,sans-serif; color:#7598c4; padding:14px 215px 10px 12px} 
.cntTrnPractWarnText {background-color:#f0f0f0; color:#464646; padding:10px; margin-bottom:15px} 
.cntTrnPractImportant {color:#9a0000; font-weight:bold; text-transform:uppercase} 

/*Quiz specific styles*/
.cntQuizBody {font-size:1.2em; font-family:Arial, Tahoma, Helvetica, sans-serif; color:#484848; line-height:1.4em} 
.cntQuizBody td {align:top; margin:0px; padding:0px; line-height:1.4em} 
.cntQuizBody tr {margin:0px; padding:0px}
.cntQuizBody table {margin:0px 0px 6px 0px}
.cntQuizBody p {margin:10px 0px} 
.cntQuizCorrect {color:#eea752}
.cntQuizCorrectAnswer {color:#eea752}
.cntQuizIncorrect {color:#7598c4}
.cntQuizUnanswered {color:#999999}
.cntQuizYourScore {color:#eea752}
.cntQuizBody .OMnMDivCel {border-right:1px solid #ccc; padding:0px; margin:0px}
.cntQuizBody .OWSBlk {font-size:1px; height:0px; line-height:0px; margin:0px; padding:0px; border-style:none; width:0px}
.cntQuizBody .BOBHDiv {border-bottom:1px solid #cccccc}

/*Customer Submitted Content style*/
.cntCSTpt {padding-top:14px}

#lblTOUContent {font-family:Tahoma; font-size:1.2em; color:#484848}